.exchange-rate .exchange-title {
	text-align: left;
	padding-bottom: 5px;
	padding-top: 15px;
}
.exchange-rate .exchange-flag {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.payment-vendor-logo img {
    background-color: #ffffff87;
    padding: 3px;
    border-radius: 3px;
}
